@import url("https://fonts.googleapis.com/css2?family=Grenze+Gotisch:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Grenze+Gotisch:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Grenze+Gotisch:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Grenze+Gotisch:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Grenze+Gotisch:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Grenze+Gotisch:wght@100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  margin: 0;
  padding: 0;
  background-image: url(../multimedia/fondo.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 50vh;
}
header nav {
  transform: translateY(4rem);
}
header h1 {
  text-align: center;
  font-size: 20vh;
  font-family: "Grenze Gotisch", serif;
  font-optical-sizing: auto;
  font-style: italic;
  color: antiquewhite;
  transform: translateY(130px);
}
header h2 {
  text-align: center;
  text-decoration: underline;
  transform: translateY(110px);
  color: antiquewhite;
}
header .container-fluid {
  background-color: rgb(96, 9, 9);
  list-style: none;
  text-align: center;
  justify-content: center;
}
header .container-fluid .navbar-nav {
  text-align: center;
  align-items: center;
  justify-content: space-around;
}
header .container-fluid .navbar-nav .nav-item {
  color: white;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: space-between;
  line-height: 2rem;
  margin-right: 20px;
}
header .container-fluid .navbar-nav .nav-item a {
  text-decoration: none;
  color: aliceblue;
  font-size: 1.2rem;
  align-items: center;
  text-align: center;
}
header .container-fluid .navbar-nav .nav-item a:hover {
  color: rgb(96, 9, 9);
  background-color: wheat;
}

body {
  background: rgb(234, 232, 232);
  background: linear-gradient(to top, #e6b980 0%, #eacda3 100%);
  background-image: url(../multimedia/fondo2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: helvetica, sans-serif;
  font-style: italic;
  margin: 0;
  padding: 0;
  display: flex;
  min-height: 100vh;
  flex-wrap: wrap;
}
body h2 {
  text-align: center;
  text-decoration: underline;
  margin: 5rem;
  font-size: 2rem;
}
body p {
  line-height: 1.5rem;
  margin: 1rem;
  padding: 1rem;
}
body .container a {
  margin: 7px;
  color: wheat;
}
body div h3 {
  text-decoration: underline;
  color: wheat;
}
body .containerindex {
  display: flex;
  flex-wrap: wrap;
  margin: 5rem;
}
body .imagen, body .texto, body .imagen2, body .texto2, body .imagen-3, body .texto3 {
  flex: 1 1 50%;
  max-width: 50%;
  box-sizing: border-box;
  padding: 10px;
}
body .imagen {
  order: 1;
  background-color: #ffdfb6;
  padding-top: 5%;
}
body .texto {
  order: 2;
  background-color: #ffdfb6;
  font-size: 1.3rem;
  font-weight: bold;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
body .imagen2 {
  order: 4;
  background-color: #ffdfb6;
}
body .texto2 {
  order: 3;
  background-color: #ffdfb6;
  font-size: 1.3rem;
  font-weight: bold;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
body .imagen-3 {
  order: 5;
  text-align: center;
  background-color: #ffdfb6;
}
body .texto3 {
  order: 6;
  background-color: #ffdfb6;
  font-size: 1.3rem;
  font-weight: bold;
  line-height: 15px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  margin: 0;
}

.pie-pagina {
  width: 100%;
  background-color: rgb(72, 3, 3);
}

.pie-pagina .grupo-1 {
  width: 100%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 50px;
  padding: 45px 0px;
}

.pie-pagina .grupo-1 .box figure {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pie-pagina .grupo-1 .box figure img {
  width: 150px;
  transition: transform 0.3s ease;
}
.pie-pagina .grupo-1 .box figure img:hover {
  transform: scale(1.2);
}

.pie-pagina .grupo-1 .box h2 {
  color: #fff;
  margin-bottom: 25px;
  font-size: 20px;
}

.pie-pagina .grupo-1 .box p {
  color: #efefef;
  margin-bottom: 10px;
}

.pie-pagina .grupo-1 .red-social {
  text-align: center;
}

.pie-pagina .grupo-1 .red-social a {
  display: inline-block;
  text-decoration: none;
  width: 45px;
  height: 45px;
  line-height: 45px;
  color: #fff;
  margin-right: 10px;
  background-color: rgb(72, 3, 3);
  border: 0.1rem black solid;
  text-align: center;
  transition: all 300ms ease;
}

.pie-pagina .grupo-1 .red-social a:hover {
  color: rgba(249, 229, 132, 0.785);
}

.pie-pagina .grupo-2 {
  background-color: #2b0505;
  padding: 15px 10px;
  text-align: center;
  color: #fff;
}

.pie-pagina .grupo-2 small {
  font-size: 15px;
}

@media (max-width: 600px) {
  header h1 {
    font-size: 10vh;
    transform: translateY(70px);
  }
  header h2 {
    transform: translateY(50px);
  }
  #main h3 {
    text-align: center;
    transform: translateX(-60px);
  }
  body {
    max-width: 100%;
    overflow-x: hidden;
  }
  .containerindex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    width: 100%;
  }
  .containerindex div img {
    width: 100%;
  }
  .texto {
    order: 1;
  }
  .imagen {
    order: 2;
  }
  .texto2 {
    order: 3;
  }
  .imagen2 {
    order: 4;
  }
  .texto3 {
    order: 5;
  }
  .imagen-3 {
    order: 6;
  }
  .pie-pagina .grupo-1 {
    grid-template-columns: 1fr;
    grid-gap: 20px;
    padding: 20px 0px;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: rgb(234, 232, 232);
  background: linear-gradient(to top, #e6b980 0%, #eacda3 100%);
  background-image: url(../multimedia/fondo2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: helvetica, sans-serif;
  font-style: italic;
}
body h2 {
  text-align: center;
  text-decoration: underline;
}
body p {
  line-height: 1.5rem;
  margin: 1rem;
  padding: 1rem;
}
body .container a {
  margin: 7px;
  color: wheat;
}
body div h3 {
  text-decoration: underline;
  color: wheat;
}
body .menucontenedor {
  display: flex;
  justify-content: center;
  margin-top: 5rem;
}
body .menuencabezado img {
  height: 65vh;
  width: 216vh;
}
@keyframes show {
  from {
    opacity: 0;
    scale: 25%;
  }
  to {
    opacity: 1;
    scale: 100%;
  }
}
body .menucontenedor img {
  view-timeline-name: --image;
  view-timeline-axis: block;
  animation-timeline: --image;
  animation-name: show;
  animation-range: entry 25% cover 50%;
  animation-fill-mode: both;
}

@media (max-width: 600px) {
  .menucontenedor {
    display: flex;
    justify-content: center;
    margin-top: 5rem;
  }
  .menucontenedor img {
    width: 550px;
    max-height: 500px;
    margin: auto;
  }
  .menuencabezado img {
    margin-top: 2rem;
    max-height: 250px;
    max-width: 600px;
  }
}
@media (max-width: 480px) {
  .menucontenedor {
    display: flex;
    justify-content: center;
    margin-top: 5rem;
  }
  .menucontenedor img {
    width: 100%;
    max-width: 480px;
    max-height: 500px;
    margin: auto;
  }
  .menuencabezado img {
    margin-top: 2rem;
    max-height: 250px;
    max-width: 480px;
    width: 100%;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: rgb(234, 232, 232);
  background: linear-gradient(to top, #e6b980 0%, #eacda3 100%);
  background-image: url(../multimedia/fondo2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: helvetica, sans-serif;
  font-style: italic;
}
body h2 {
  text-align: center;
  text-decoration: underline;
}
body p {
  line-height: 1.5rem;
  margin: 1rem;
  padding: 1rem;
}
body .container a {
  margin: 7px;
  color: wheat;
}
body div h3 {
  text-decoration: underline;
  color: wheat;
}
body #reservas {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}
body .preserva {
  background-color: #f4dfc1;
  margin: 6rem;
}
body .rformulario {
  width: 600px;
  margin: 1rem;
  border: #e59f44 solid 2px;
  padding: 60px;
  text-align: center;
}
body .rformulario #form-reservas {
  padding: 1rem;
}

@media (max-width: 600px) {
  .rformulario {
    margin: 0px;
    display: flex;
    flex-direction: column;
    text-align: center;
    max-width: 550px;
    border: 0px;
  }
}
@media (max-width: 4800px) {
  .rformulario {
    margin: 0px;
    display: flex;
    flex-direction: column;
    text-align: center;
    max-width: 480px;
    border: 0px;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  width: 100%;
}
header h4 {
  text-align: center;
}

body {
  background-image: url(../multimedia/fondo2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: helvetica, sans-serif;
  font-style: italic;
}
body h2 {
  text-align: center;
  text-decoration: underline;
}
body .container a {
  margin: 7px;
  color: wheat;
}
body div h3 {
  text-decoration: underline;
  color: wheat;
}
body .tbody {
  display: flex;
  text-align: center;
  transform: translateX(41rem);
  text-decoration: underline;
  margin-top: 6rem;
  font-size: 2rem;
}
body .mainubi {
  display: flex;
  flex-direction: row;
  text-align: center;
  margin: 50px;
}
body .mainubi .ubiparrafo {
  background-color: beige;
  font-size: 1.5rem;
  line-height: 2.5rem;
  text-align: justify;
  padding: 3rem;
}
body .mainubi .mapaubi {
  margin-top: 1.5rem;
}
body .sectionubi {
  display: flex;
  width: 100rem;
  height: 25rem;
  margin: auto;
}
body .sectionubi img {
  width: 0px;
  flex-grow: 1;
  object-fit: cover;
  opacity: 0.8;
  transition: 0.5s ease;
}
body .sectionubi img:hover {
  cursor: crosshair;
  width: 300px;
  opacity: 1;
  filter: contrast(120%);
}

@media (max-width: 600px) {
  body {
    display: flex;
  }
  body .tbody {
    transform: translateX(13rem);
  }
  body .mainubi {
    flex-direction: column;
  }
  .ubiparrafo {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
    max-width: 600px;
    margin: 5rem auto;
  }
}
@media (max-width: 480px) {
  body {
    display: flex;
  }
  .tbody {
    transform: translateX(0);
  }
  .mainubi {
    flex-direction: column;
    margin: 0;
    max-width: 480px;
    padding: 0;
  }
  .ubiparrafo {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
    max-width: 480px;
    margin: 1rem auto;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: rgb(234, 232, 232);
  background: linear-gradient(to top, #e6b980 0%, #eacda3 100%);
  background-image: url(../multimedia/fondo2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: helvetica, sans-serif;
  font-style: italic;
}
body h2 {
  text-align: center;
  text-decoration: underline;
}
body p {
  line-height: 1.5rem;
  margin: 1rem;
  padding: 1rem;
}
body .container a {
  margin: 7px;
  color: wheat;
}
body div h3 {
  text-decoration: underline;
  color: wheat;
}
body #contacto {
  text-align: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 10px;
}
body .formulario {
  width: 600px;
  margin: 20px;
  border: #e59f44 solid 2px;
  padding: 20px;
  text-align: center;
}
body .formulario #form-contacto {
  padding: 0.7rem;
}
body .pcontacto {
  background-color: #f8e6cd;
  margin: 3rem;
  font-size: 1.5rem;
  margin-left: 15rem;
  margin-right: 15rem;
}
body .pcontacto p {
  line-height: 1.5;
}

@media (max-width: 600px) {
  header {
    height: 60vh;
    background-position: center;
  }
  header nav {
    padding: 0;
  }
  #contacto {
    width: 96%;
  }
  .pcontacto {
    display: flex;
    text-align: center;
    width: 100%;
    max-width: 600px;
    margin: 5rem auto;
  }
  .formulario {
    margin: 0px;
    display: flex;
    flex-direction: column;
    text-align: center;
    max-width: 550px;
    border: 0px;
  }
  h3 {
    margin-top: 2rem;
  }
  .box p {
    text-align: center;
  }
}
@media (max-width: 480px) {
  header {
    height: 60vh;
    background-position: center;
  }
  header nav {
    padding: 0;
  }
  #contacto {
    width: 96%;
  }
  .pcontacto {
    display: flex;
    text-align: center;
    width: 100%;
    max-width: 480px;
    margin: 5rem auto;
  }
  .formulario {
    margin: 0;
    display: flex;
    flex-direction: column;
    text-align: center;
    max-width: 480px;
    border: 0;
  }
  h3 {
    margin-top: 2rem;
  }
  .box p {
    text-align: center;
  }
}

/*# sourceMappingURL=estilo.css.map */
