*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import "_var";
@import url('https://fonts.googleapis.com/css2?family=Grenze+Gotisch:wght@100..900&display=swap');





body {
    background: rgb(234,232,232);
    background: linear-gradient(to top, #e6b980 0%, #eacda3 100%);
    background-image: url(../multimedia/fondo2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: helvetica, sans-serif;
    font-style: italic;
    h2 {
        text-align: center; 
        text-decoration: underline;
    }
    p { 
        line-height: 1.5rem;
        margin: 1rem;
        padding: 1rem;
    }
    .container a{
        margin: 7px;
        color: wheat;
    }  
    div h3{
        text-decoration: underline;
    
        color: wheat;
        
    }   
    #contacto {
        text-align: center;
        align-items: center;
        display: flex;
        flex-direction: column;
        text-align: center;
        margin: 10px;
    }
    .formulario {
        width: 600px;
        margin: 20px;
        border: #e59f44 solid 2px;
        padding: 20px;
        text-align: center;
        #form-contacto{
            padding: 0.7rem;
        }
    }
    .pcontacto{
        background-color: #f8e6cd;
        margin: 3rem;
        font-size: 1.5rem;
        margin-left: 15rem;
        margin-right: 15rem;
        p{
            line-height: 1.5;
        }
    }
    

}


@media (max-width: 600px){

    header{
        height: 60vh;
        background-position: center;
        nav{
            padding: 0;
        }
    }
    #contacto{
        width: 96%;
    }
    .pcontacto{
        display: flex;
        text-align: center;
        width: 100%; 
        max-width: 600px; 
        margin: 5rem auto; 
    }

    .formulario{
        margin: 0px;
        display: flex;
        flex-direction: column;
        text-align: center;
        max-width: 550px;
        border: 0px;
    }

    h3{
        margin-top: 2rem;
    }

    .box p{
        text-align: center;
    }
}


@media (max-width: 480px) {
    header {
        height: 60vh;
        background-position: center;
    }

    header nav {
        padding: 0;
    }

    #contacto {
        width: 96%;
    }

    .pcontacto {
        display: flex;
        text-align: center;
        width: 100%;
        max-width: 480px; 
        margin: 5rem auto;
    }

    .formulario {
        margin: 0;
        display: flex;
        flex-direction: column;
        text-align: center;
        max-width: 480px; 
        border: 0;
    }


    h3 {
        margin-top: 2rem;
    }

    .box p {
        text-align: center;
    }
}

