*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import "_var";
@import url('https://fonts.googleapis.com/css2?family=Grenze+Gotisch:wght@100..900&display=swap');



body {
    background: rgb(234,232,232);
    background: linear-gradient(to top, #e6b980 0%, #eacda3 100%);
    background-image: url(../multimedia/fondo2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: helvetica, sans-serif;
    font-style: italic;
    h2 {
        text-align: center; 
        text-decoration: underline;
    }
    p { 
        line-height: 1.5rem;
        margin: 1rem;
        padding: 1rem;
    }
    .container a{
        margin: 7px;
        color: wheat;
    }  
    div h3{
        text-decoration: underline;
    
        color: wheat;
        
    }   
    .menucontenedor{
        display: flex;
        justify-content: center;
        margin-top: 5rem;
    }
    .menuencabezado img{
        height: 65vh;
        width: 100%;
    }

    @keyframes show {
        from{
            opacity: 0;
            scale: 25%;
        }
        to {
            opacity: 1;
            scale: 100%;
        }
    }

    .menucontenedor img{
        view-timeline-name: --image ;
        view-timeline-axis: block;
        animation-timeline:  --image;
        animation-name: show;
        animation-range: entry 25% cover 50%;
        animation-fill-mode: both;
    }

    

}

@media (max-width: 800px) {

    body{
        width: 100%;
        h2{
            margin: 1rem;
        }
    }
    .headermenu{
        height: 1.1rem;
        width: 127vh;
        h2{
            margin: 1rem;
        }
        .mtitle{
            transform: translateX(-10rem);
        }
        #navmenu{
            width: 100%;
            margin: 0;
            transform: translateY(6rem);
        }
    }

    .menucontenedor{
        display: flex;
        justify-content: center;
        margin-top: 3rem;
        width: auto;
        img{
        width: 100%;
        max-height: 500px;
        margin: auto;
        .menu1{
        margin-top:10%;
        }
    }}

    .menuencabezado img{
        margin-top: 2rem;
        max-height: 250px;
        max-width: 100%;
    }
}


@media (max-width: 480px) {
    
    .headermenu{
        height: 1.1rem;
        width: auto;
        h2{
            margin: 1rem;
            transform: translateY(5rem);
        }
        .mtitle{
            transform: translateX(-10rem);
        }
        #navmenu{
            top: 0;
            z-index: 100%;
        }
    }    
    .menucontenedor {
        display: flex;
        justify-content: center;
        margin-top: 5rem;
         img {
            width: 100%; 
            max-width: 480px; 
            max-height: 500px;
            margin: auto;
            margin-top: 5rem;
        }
    }
    
    .menuencabezado img {
        margin-top: 2rem;
        max-height: 250px;
        max-width: 480px; 
        width: 100%; 
    }
}

