*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import "_var";
@import "_index";
@import "_menu";
@import "_reservas";
@import "_ubicacion";
@import "_contacto";
@import url('https://fonts.googleapis.com/css2?family=Grenze+Gotisch:wght@100..900&display=swap');



